@charset "UTF-8";

#ingredient{
  border: 2px solid lightcoral;
}

th,td{
  border: 1px solid lightcoral;
}

.photo{
  float: left;
  margin-right: 30px;
}

.btn{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 10px;
  width: 80px;
  height: 20px;
  padding: 10px;
  border: none;
  fonr-size: 16px;
}

.btn-submit{
  background-color: lightcoral;
}

.btn-reset{
  background-color: silver;
}
  
